/* CSS for the html */
*{
    box-sizing: border-box;
}
body{
    padding: 50px 100px 50px 100px;
}
#footer{
    margin-bottom: 0;   
}
h3{
    color: rgb(247, 87, 12);
    font-weight: lighter;
    font-size: 30px;
    text-align: center;
}
p{
    font-size: 40px;
}
h4{
    text-align: center;
}
hr{
    border-color: rgb(247, 87, 12);
}
#bmi-answer{
    display: flex;
    justify-content: space-between;
}


/*css classes for js code*/
.is-not-number{
    background-color: red;
    font-size: 30px;
    text-align: center;
    width: 550px;

}
.underweight{
    background-color: red;
    font-size: 30px;
    text-align: center;
    height: 50px;
    margin-top: 30px;
}
.overweight{
    background-color: yellow;
    font-size: 30px;
    text-align: center;
    height: 50px;
    margin-top: 30px;
}
.healthy{
    background-color: green;
    font-size: 30px;
    text-align: center;
    height: 50px;
    margin-top: 30px;
}
.incorrect-numbers{
    background-color: blue;
    font-size: 30px;
    text-align: center;
    height: 50px;
    margin-top: 30px;
}


